.container-landing {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;


    .lets-order {
        font-weight: 900;
        font-size: 36px;
        margin-top: 38px;
        margin-bottom: 37px;
        color: #BD0707;
    }


}