.layout-header-kiriAtas{
    margin: 0;
}

.layout-header-kiriBawah{
    margin: 0;
}

.layout-header-kananBawah{
    margin: 0;
    margin-left: 980px;
}

.container-landing{
    margin-top: 75px;
    margin-right: 40px;

    .icon-title-header{
        margin-bottom: -120px;
        margin-left: 155px;
    }

}