.container-detail-post {
    // margin: 30px 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 280px;
    margin-right: 300px;
}
.title-detail-post {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}

.full-img-detail-post{
    width: 729px;
    height: 545px;
}

.item-img-detail-post{
    width: 135px;
    height: 90px;
}